@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');
*,
*::after,
*::before {
   box-sizing: border-box;
}

/* General Styles */

:root {

   --bg-color: rgb(186,192,198);
   --bg-gradient: linear-gradient(95deg, rgba(186,192,198,1) 0%, 
   rgba(169,176,181,1) 35%, rgba(137,145,151,1) 70%, rgba(105,113,121,1) 100%);
   --bg-gradient-glass: linear-gradient(95deg, rgba(186,192,198,0.6) 0%, 
   rgba(169,176,181,0.6) 35%, rgba(137,145,151,0.6) 70%, rgba(105,113,121,0.15) 100%);
   
   --text-color: #FAFAFA;
   
   --fs-h1: 3em;
   --fs-h2: 1.8em;
   --fs-h3: 1.5em;
   --fs-text: 1.05em;
   
}
body{
   font-family: 'Poppins', sans-serif;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   background-color: rgb(163, 169, 175);
   width: 100%;
   color: #fafafab4;
   height: 100vh;
}
main{
   position: relative;
   display: flex;
   width: 70%;
   height: 80vh;
   background: linear-gradient(to right bottom,                 
               rgba(225, 225, 225, 0.1),                                
               rgba(128, 78, 78, 0.1)
               );
   backdrop-filter: blur(3rem);
   border-top: 1px#ffffffc2 solid;
   border-left: 1px#ffffffc2 solid;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   box-shadow: 17px 16px 52px 5px rgba(0, 0, 0, 0.274);
   -webkit-box-shadow: 17px 16px 52px 5px rgba(0, 0, 0, 0.267);
   -moz-box-shadow: 17px 16px 52px 5px rgba(0, 0, 0, 0.233);
}

img{
   width: 150px;
   z-index: 3;
   position: absolute;
   bottom: 0;
   left: 0;
}
.btn{
   position: absolute;
   width: 100px;
   height: 40px;
   bottom: 30px;
   left: 20px;
   background-color: #fff;
   border-radius: 7px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   -o-border-radius: 7px;
}

main nav{
   width: 15%;
}

nav .icon{
   width: 30px;
   height: 30px;
   margin: 40px auto;
   background-color: rgba(255, 255, 255, 0.589);
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
}

main .body{
   width: 55%;
}
.body-title{
   font-size: 25px;
}
.button{
   text-align: center;
   width: 150px;
   padding: 5px;
   background-color: rgba(255, 255, 255, 0.493);
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}
.works{
   display: flex;
   justify-content: space-around;
}
.numbers{
   font-size: 40px;
   margin: 0;
   padding: 0;
}
.works_table{
   width: 30%;
}
.form{
   width: 100%;
   height: 100px;
   background-color: rgba(255, 255, 255, 0.493);
}

main .side-bar{
   width: 40%;
   display: block;
   margin: 40px auto;
}

.recherche{
   display: flex;
}
.rech-bar{
   width: 50%;
   height: 35px;
   margin-left: 20px;
   background-color: rgba(255, 255, 255, 0.493);
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}
.rech-icons{
   margin-left: 13px;
   width: 30px;
   height: 30px;
   background-color: rgba(255, 255, 255, 0.493);
}
.statistics{
   width: 75%;
   height: 170px;
   background-color: rgba(255, 255, 255, 0.493);
   margin-top: 40px;
   margin-left: 20px;
   border-radius: 7px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   -o-border-radius: 7px;
}