*,
*::after,
*::before {
   box-sizing: border-box;
}

/* General Styles */

:root {

   --bg-color: rgb(186,192,198);
   --bg-gradient: linear-gradient(95deg, rgba(186,192,198,1) 0%, 
   rgba(169,176,181,1) 35%, rgba(137,145,151,1) 70%, rgba(105,113,121,1) 100%);
   --bg-gradient-glass: linear-gradient(95deg, rgba(186,192,198,0.6) 0%, 
   rgba(169,176,181,0.6) 35%, rgba(137,145,151,0.6) 70%, rgba(105,113,121,0.15) 100%);
   
   --text-color: #FAFAFA;
   
   --fs-h1: 3em;
   --fs-h2: 1.8em;
   --fs-h3: 1.5em;
   --fs-text: 1.05em;
   
}
body{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   background-color: rgb(170, 170, 170);
   width: 100%;
   height: 100vh;
}
main{
   width: 80%;
   height: 80vh;
   background: linear-gradient(to right bottom,                 
               rgba(225, 225, 225, 0.1),                                
               rgba(128, 78, 78, 0.1)
               );
   backdrop-filter: blur(3rem);
   border-top: 1px#ffffffc2 solid;
   border-left: 1px#ffffffc2 solid;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   box-shadow: 17px 16px 52px 5px rgba(0, 0, 0, 0.274);
   -webkit-box-shadow: 17px 16px 52px 5px rgba(0, 0, 0, 0.267);
   -moz-box-shadow: 17px 16px 52px 5px rgba(0, 0, 0, 0.233);
}

img{
   width: 150px;
   z-index: 3;
   position: absolute;
   bottom: 0;
   left: 0;
}
